journal_translate/
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
.env
.env.production
.env.development
journal_entries.json
credentials/
back_source/
vision_test_file/
.DS_Store
app/service/journal_entry.py
.DS_Store
*.swp
*.swo
.vscode/
*.log
.gitignore
