/*app/static/css/style.css*/

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            margin: 20px;
            max-width: 800px;
            height: 800px;
            display: block;
            text-align: center;
            border: 10px solid rgb(177, 177, 177);
        }
        h1 {
            margin: 30px auto;
        }
        h2 {
            margin: 20px auto;
        }
        table, thead {
            border: 2px solid black;
        }
        table, td {
            max-width: 700px;
            margin: 20px auto;
            padding: 10px;
            white-space: nowrap;
        }
        .thumbnail {
            width: 500px;
            height: 150px;
            margin-bottom: 30px;
        }
        #status-message {
            font-weight: bold;
            color: #007BFF;
            margin: 10px auto;
        }
        #image-preview {
            max-width: 300px;
            margin: 10px auto;
            display: none;
        }
        #journal-table {
            background: #f4f4f4;
            margin: 10px auto;
            border-radius: 5px;
            white-space: wrap;
        }
        @media screen and (max-width: 800px) {
            body {
                max-width: 600px;
            }
            table, td {
                padding: 5px;
                white-space: wrap;
            }
            .thumbnail {
                width: 300px;
                height: 150px;
                margin-bottom: 30px;
            }
            h1 {
                font-size: 1.5rem;
            }
        }
