/*app/static/css/style.css*/

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            width: 100%;
        }
        main {
            margin: 20px auto;
            max-width: 800px;
            height: 900px;
            display: block;
            text-align: center;
            border: 10px solid rgb(177, 177, 177);
        }
        h1 {
            margin: 30px auto;
        }
        h2 {
            margin: 20px auto;
        }
        table, thead {
            border: 2px solid black;
        }
        table, td {
            max-width: 700px;
            margin: 20px auto;
            padding: 10px;
            white-space: nowrap;
        }
        .thumbnail {
            width: 500px;
            height: 150px;
            margin-bottom: 30px;
        }
        #status-message {
            font-weight: bold;
            color: #007BFF;
            margin: 10px auto;
        }
        #image-preview img {
            display: block;
            margin: 30px auto;
            width: 300px;
        }
        #journal-table {
            background: #f4f4f4;
            margin: 30px auto;
            border-radius: 5px;
            white-space: wrap;
        }
        .clear-btn-container {
            width: 100%;
            text-align: center;
        }
        a#clear-btn {
            display: inline-block;
            text-decoration: none;
            padding: 10px 20px;
            border: 1px solid #080808;
            border-radius: 4px;
            color: #080808;
            background-color: #e6e6e6;
        }
        footer p {
            display: flex;
            height: 50px;
            justify-content: center;
            align-items: center;
            background-color: #e6e6e6;
            margin-top: 50px;
        }

        @media screen and (max-width: 800px) {
            table, td {
                padding: 5px;
                white-space: wrap;
            }
            h1 {
                font-size: 1.5rem;
            }
            .thumbnail {
                max-width: 300px;
            }
        }
